<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of MongoHelper.
  ~
  ~ MongoHelper is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your
  ~ option) any later version.
  ~
  ~ MongoHelper is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MongoHelper.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ Copyright (C) 2024 ClydoNetwork
  ~
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%red{[%d{HH:mm:ss}]} %highlight{[%level -> %cyan{%c{1}:%L}%highlight{]}}%magenta{:} %msg%n">
                    <PatternMatch key="FLOW" pattern="[%d{HH:mm:ss}] [%level]: %msg{nolookups}%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level]: %msg{nolookups}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL"/>
            </filters>
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>